.stored-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    gap: 1em;
}

.container-items {
    border: 1px solid #0071d3;
    background: #0071d3;
    border-radius: 2em;
    display: flex;
    align-items:center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: 300px;
    margin: 1em;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px}

.title {
    text-align: center;
    color: #0071d3;
    margin-top: 1em;
}

.stored-img {
    width: 10em;
    height: 10em;
    margin: 0.6em;
    border: 1px solid #0071d3;
    border-radius: 2em;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px}

.item-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0.4em;
    flex-direction: column;
    color: #ffffff;
    font-weight: bold;
}

@media screen and (max-width:600px){
    .stored-list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 200px;
        margin: 0 auto;
    }
}