* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  .navbar{
    background-color: #0071d3;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
    
  .navbar-items {
    display: flex;
    align-items: center;
    color: #FFFFFF;
    font-weight: bold;
    gap: 2em;
    list-style-type: none;
  
  } 
  
  .navbar-logo {
    cursor:default;
    font-size: 3em;
  }
  
  .navbar-item {
    cursor: pointer;
  }
  
  .navbar-item:hover {
    color: rgb(0, 0, 0);
  }
  
  .navbar-item:active {
    position:relative;
    top:1px;
  }
  
  @media screen and (max-width:600px){
    .navbar,.navbar-items{
      display:flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      margin-bottom: 1em;
    }
  }